body{
    font-family: sans-serif;
}
.form{
    padding-top: 50px;
}
input[type='text']{
    width: 100%;
    height: 50px;
    padding: 12px 20px;
    box-sizing: border-box;
    font-size: 15px;
    border-left: none;
    border-right: none;
    
}
div> h1{
    color: darkgreen;
    font-family: sans-serif;
    text-align: center;
    padding-top: 30px;
    
}
h2{
    color: darkgreen;
    font-family: sans-serif;
    text-align: center;
    padding-top: 30px;
    
}
div.login{
    font-family: sans-serif;
    width: 400px;
    height: 500px;
    padding: 0px;
    background-color: aliceblue;
    color: black;
    margin-left: 450px;
}
input[type=submit] {
    width: 30%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    
    cursor: pointer;
    float: right;
}
input[type=submit]:hover {
    background-color: #45a049;
}
/*---------------- Naviagation Bar ----------------- */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4CAF50;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: darkgreen;
}
.user {
    float: right;

}
.user_logout {
    float: right;
    text-decoration: underline;
    font-weight: bold;

}
/*---------------- Naviagation Ends ----------------- */